
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/StyleDoAn.css">
<h3 style="padding-left:5px">Hệ thống Cửa hàng DinoGoose</h3>
<div class="row" style="padding-bottom:10px">
    <div class="col-lg-4" style="padding-left:20px">
        <address style="padding-left:10px">

            <p>Đoàn Trung Hiếu          085277556x</p>
            <p>Nguyễn Quang Tân         070492187x</p>
            <p>Nguyễn Minh Triều        036879257x</p>
            <p>Nguyễn Ngọc Thiện        036410866x</p>
            <strong>Support:</strong>   <a href="mailto:doantrunghieu472@gmail.com">doantrunghieu472@gmail.com</a><br />
            <strong>Support:</strong>   <a href="mailto:nguyenminhtrieu010@gmail.com">nguyenminhtrieu010@gmail.com</a><br />
            <strong>Support:</strong>   <a href="mailto:imagineworld14@gmail.com">imagineworld14@gmail.com</a><br />
            <strong>Support:</strong>   <a href="mailto:tannguyen24102001@gmail.com">tannguyen24102001@gmail.com</a><br />
        </address>
    </div>
    <div class="col-lg-3 " style="display:flex">
        <img src="~/Content/Hinh_web/Contact.jpg" alt="Thumbnail" class="pull-left" />
    </div>
</div>




